<div class="textList grid-container">
    <div class="text">{{ actorDetails.name }}</div>
    <p></p>
    <p></p>
    <img src="https://image.tmdb.org/t/p/original/{{ actorDetails.profile_path }}" alt="Image" width="250" />
    <div style="text-align: left; font-family: FjallaOne, serif">
        Description: {{ actorDetails.biography }}
        <p></p>
        Place of Birth: {{ actorDetails.place_of_birth }}
        <p></p>
        Popularity: {{ actorDetails.popularity }}
    </div>
</div>
<p></p>
<p></p>
<p></p>
<h1 class="text" style="text-align: center">Featured Movies</h1>
<div class="mb-3"></div>
<p-table
    [value]="credits.cast"
    [paginator]="true"
    [rows]="rows"
    [showCurrentPageReport]="true"
    [(first)]="first"
    responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    selectionMode="single"
>
    <ng-template pTemplate="header">
        <tr class="textList">
            <th>Image</th>
            <th>Movie Name</th>
            <th>Popularity</th>
            <th>Original Language</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-actor>
        <tr [pSelectableRow]="actor" class="textList">
            <td><img src="https://image.tmdb.org/t/p/original/{{ actor.poster_path }}" alt="Image" width="50" /></td>
            <td>{{ actor.original_title }}</td>
            <td>{{ actor.popularity }}</td>
            <td>{{ actor.original_language }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft"> </ng-template>
    <ng-template pTemplate="paginatorright"> </ng-template>
</p-table>
