<div class="mt-5">
  <p-card header="Movie title" subheader="Year" styleClass="p-card-shadow flex flex-col items-center pt-5 pr-5 pl-5 pb-5 xl:w-1/4">
    <ng-template pTemplate="header">
      <div class="xl:w-72">
        <img class="rounded" alt="Card" src="assets/photos/example.jpg">
      </div>
    </ng-template>
    <p class="text-justify">When a sadistic serial killer begins murdering key political figures in Gotham,
      Batman is forced to investigate the city's hidden corruption and question his family's involvement.</p>
    <ng-template pTemplate="footer">
      <p-button label="Delete" icon="pi pi-times" styleClass="p-button-secondary"></p-button>
    </ng-template>
  </p-card>
</div>
