<div class="mt-5 flex flex-wrap grid grid-cols-3 gap-2">
  <p-card header="{{ title }}" subheader="{{ year }}" styleClass="p-card-shadow flex flex-col items-center pt-5 pr-5 pl-5 pb-5 xl:w-1/4">
    <ng-template pTemplate="header">
      <div class="xl:w-72">
        <img class="rounded" alt="Card" [src]="imageSrc">
      </div>
    </ng-template>
    <p class="text-justify">{{ description }}</p>
    <ng-template pTemplate="footer">
      <p-button label="Delete" icon="pi pi-times" styleClass="p-button-secondary"></p-button>
    </ng-template>
  </p-card>
</div>
