<div class="bg-[url('/assets/photos/background.png')] w-screen h-screen">
  <div class="pt-64"></div>
<div class="bg-white shadow-md hover:shadow-inner ml-24 mr-24 border-2 rounded-md flex space-x-60 justify-center items-center">
            <!-- <div>
        <div class="input-box">
          <label for="username">Username</label>
          <input [(ngModel)]="username" pInputText id="username" type="text" />
        </div>
        <div class="input-box">
          <label for="password">Password</label>
          <input
            [(ngModel)]="password"
            pInputText
            id="password"
            type="password"
          />
        </div>
        <div class="input-box">
          <p-button (click)="onLogin()" label="Login"></p-button>
        </div>
      </div> -->
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="input-box">
                    <label for="login">Username</label>
                    <input formControlName="login" pInputText id="login" type="text" />
                    <small
                        *ngIf="
                            loginForm.get('login').invalid &&
                            (loginForm.get('login').dirty || loginForm.get('login').touched)
                        "
                        id="login-help"
                        class="p-error"
                        ><div *ngIf="loginForm.get('login').errors?.required">Login is required.</div>
                        <div *ngIf="loginForm.get('login').errors?.minlength">
                            Login must be at least 4 characters long.
                        </div>
                    </small>
                </div>
                <div class="input-box">
                    <label for="password">Password</label>
                    <input formControlName="password" pInputText id="password" type="password" />
                    <small
                        *ngIf="
                            loginForm.get('password').invalid &&
                            (loginForm.get('password').dirty || loginForm.get('password').touched)
                        "
                        id="password-help"
                        class="p-error"
                        ><div *ngIf="loginForm.get('password').errors?.required">Password is required</div>
                        <div *ngIf="loginForm.get('password').errors?.minlength">
                            Password must be at least 4 characters long.
                        </div>
                    </small>
                </div>
                <div class="mt-10 mb-10">
                    <p-button styleClass="button-block" [disabled]="loginForm.invalid" type="submit" label="Login"></p-button>
                    <p-divider layout="vertical">
                      <b>OR</b>
                    </p-divider>
                    <p-button
                      (click)="onClickSignUp()"
                      label="Sign In"
                      icon="pi pi-user-plus"
                      styleClass="button-block p-button-success"
                    ></p-button>
                </div>
            </form>
</div>
</div>
