.main-heading {
  margin-bottom: 12rem;
}

.login-wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 20rem;
}

.main-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
