<h1 class="text" style="text-align: center">Actor List</h1>
<div class="card w-4/5 mx-auto">
    <input
        pInputText
        type="text"
        [(ngModel)]="searchActor"
        (ngModelChange)="onNameChange(1)"
        placeholder="Search by Name"
        class="form-control input"
    />
    <p></p>
    <div class="mb-3"></div>
    <p-table
        [value]="actors"
        [paginator]="true"
        [rows]="20"
        (onLazyLoad)="loadActors($event)"
        [totalRecords]="totalElements"
        [lazy]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        selectionMode="single"
        paginatorPosition="both"
        [(selection)]="selectedActor"
        (onRowSelect)="onActorDetails()"
    >
        <ng-template pTemplate="header">
            <tr class="textList">
                <th>Image</th>
                <th>Name</th>
                <th>Popularity</th>
                <th>Department</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-actors>
            <tr [pSelectableRow]="actors" class="textList">
                <td>
                    <img
                        *ngIf="actors.profile_path; else noImage"
                        src="https://image.tmdb.org/t/p/w500/{{ actors.profile_path }}"
                        alt="Image"
                        width="50"
                    />
                </td>
                <td>{{ actors.name }}</td>
                <td>{{ actors.popularity }}</td>
                <td>{{ actors.known_for_department }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<ng-template #noImage>
    <img src="../../assets/photos/user.png" width="50" />
</ng-template>
