.text {
    color: #430f0f;
    font-weight: bold;
    font-family: FjallaOne, serif;
}

.textList {
    color: #430f0f;
    font-family: FjallaOne, serif;
}
.input {
    border-color: #320b0b;
    border-width: 1px;
}
