<!-- ------------------------- MANAGEMENT SECTION -------------------------- -->

<!-- ------------------------ MOVIE DETAIL SECTION ------------------------- -->

<div class="grid-container">
    <h1 class="text">{{ movieDetails.title }}</h1>
    <p></p>
    <p></p>
    <div><img src="https://image.tmdb.org/t/p/original/{{ movieDetails.poster_path }}" alt="Image" width="250" /></div>
    <div style="text-align: left; font-family: FjallaOne, serif">
        Description: {{ movieDetails.overview }}
        <p></p>
        Language: {{ movieDetails.original_language }}
        <p></p>
        Votes: {{ movieDetails.vote_count }}
    </div>
    <p></p>
    <div>
        <p-rating (click)="createRating()" [(ngModel)]="rating" class=".grid-container"></p-rating>
        <p></p>
        <p></p>
        <button class="w-3/4 text-gray-100 mb-2 h-10 rounded-md font-family: FjallaOne, serif" (click)="addToToplist()">
            Add to toplist
        </button>
    </div>
</div>

<p-accordion>
    <!-- -------------------------------- CAST --------------------------------- -->

    <p-accordionTab header="Cast" class="text">
        <h1 class="text" style="text-align: left">Actor List</h1>
        <p-table
            [value]="credits.cast"
            [paginator]="true"
            [rows]="rows"
            [showCurrentPageReport]="true"
            [(first)]="first"
            responsiveLayout="scroll"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]"
            selectionMode="single"
            dataKey="code"
            [(selection)]="selectedCast"
            (onRowSelect)="onCastDetails()"
            class="rounded-md"
        >
            <ng-template pTemplate="header">
                <tr class="textList">
                    <th>Image</th>
                    <th>Name</th>
                    <th>Popularity</th>
                    <th>Character</th>
                    <th>Department</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-actor>
                <tr [pSelectableRow]="actor" class="textList">
                    <td>
                        <img
                            src="https://image.tmdb.org/t/p/original/{{ actor.profile_path }}"
                            alt="Image"
                            width="50"
                        />
                    </td>

                    <td>{{ actor.name }}</td>
                    <td>{{ actor.popularity }}</td>
                    <td>{{ actor.character }}</td>
                    <td>{{ actor.known_for_department }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-accordionTab>

    <!-- --------------------------- RATING SECTION ---------------------------- -->

    <p-accordionTab header="Rating section" class="text">ffffff</p-accordionTab>

    <!-- --------------------------- COMMENT SECTION --------------------------- -->

    <p-accordionTab header="Comment section" class="text">
        <div class="grid-container">
            <input style="border-color: #320b0b; border-width: 1px" [(ngModel)]="commentText" type="text" />
            <p></p>
            <button (click)="addComment()" class="w-3/4 text-gray-100 mb-2 h-10 rounded-md">Confirm</button>

            <ng-container *ngIf="localMovie">
                <p-card class="card" *ngFor="let comment of comments">
                    <app-comment-item-movie
                        [comment]="comment"
                        [userProfile]="userProfile"
                        (onRemove)="removeComment($event)"
                    ></app-comment-item-movie>
                </p-card>
            </ng-container>
        </div>
    </p-accordionTab>
</p-accordion>
