<div class="bg-[url('/assets/photos/background.png')] w-1920 xl:h-screen overflow-scroll p-10">
    <div class="bg-white shadow-md hover:shadow-inner border-2 rounded-md xl:w-1/2">
      <form>
        <div class="m-10 gap-5">
          <div class="flex flex-col gap-2">
            <label for="title">Title</label>
            <input pInputText id="title" />
            <div class="flex mt-2"></div>
            <label for="description">Description</label>
            <textarea pInputTextarea [rows]="5" [(ngModel)]="property" id="description" name="text"></textarea>
          </div>
          <div class="flex gap-2 mt-6">
            <p-button type="submit" label="Save"></p-button>
            <p-button styleClass="p-button-warning" type="reset" label="Clear"></p-button>
          </div>
        </div>
      </form>
    </div>
    <app-card></app-card>
</div>
