<div class="flex h-screen justify-center items-center bg-primary">
  <div class="m-24 mx-auto rounded-xl shadow-xl overflow-hidden bg-primary-dark">
    <div class="md:flex">
      <div class="md:shrink-0">
        <img
          class="h-80 w-full object-cover md:h-full md:w-80"
          src="/assets/photos/spiderman.jpg"
          alt="Spiderman"
        />
      </div>
      <div class="p-20 flex items-center flex-col gap-36">
        <h1 class="text-white text-2xl">Welcome to the movie website</h1>
        <button class="bg-accent px-28 py-2 text-white rounded-sm" [routerLink]="['/signup']">Get Started</button>
      </div>
    </div>
  </div>
</div>







